  p {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  body{
    background-color: rgba(255, 169, 169, 0.123);
  }

  .main-title{
    display: block;
    text-align: center;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    text-shadow: 30px;
    transition: color 0.6s;
  }

  .main-title:hover{
    color: blue;
  }

  .site-logo{
    vertical-align: middle;
    width: 100px;
  }

  .div-element{
    text-align: center;
    display: block;
    margin-top: 30px;
  }

  .pages{
    font-family: "Verdana";
    font-size: 30px;
    background-color: rgb(120, 120, 255);
    color: white;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition:  border-radius 0.5s;

  }

  .pages:hover{
    border-radius: 30px;
    box-shadow: 0px 7px 7px rgba(0,0,0,1);
  }

  .pages:active{
    margin-top: 6px;
    margin-right: 6px;
    box-shadow: none;
  }

  .pages-link{
    color: rgb(255, 255, 255);

  }

  .page-titles{
    font-family: Tahoma;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: black;
    text-shadow: 4px 4px rgb(25, 0, 255);
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: color 0.6s, text-color 0.6s;
  }

  .page-titles:hover{
    color: rgb(25, 0, 255);
    text-shadow: 4px 4px black;
  }

  .websites {
    margin-bottom: 50px;
    vertical-align: middle;;
    font-size: 40px;
    font-family: Arial;
    display: inline-block;
  }

  .websites-image {
    width: 20px;
  }

  .go-to-website {
    font-family: "Lucida Console";
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-width: 4px;
    border: none;
    width: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 45px;
    display: block;
    cursor: pointer;
    box-shadow: 0px 0px 50px rgb(255, 166, 0,1);
    transition: background-color 0.5s,box-shadow 0.3s,font-size 0.5s;
  }

  .go-to-website:hover{
    font-size: 18px;
    border: none;
    background-color: rgb(119, 255, 176);
    color: rgb(0, 0, 0);
    box-shadow: 0px 10px 10px rgba(0,0,0,1);
  }


  .bottom-menu{
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.6s;
    
  }

  .update{
    font-family: Tahoma;
    font-size: 15px;
    font-weight: bolder;
  }

  .time{
    font-family: Arial;
    font-weight: bold;
    color: rgb(17, 0, 248);
  }

  .main-menu{
    text-align: center;
    display: block;
  }

.main-menu-button{
  font-family: "Lucida Console";
  font-size: 16px;
  background-color: rgb(0, 255, 0);
  border: none;
  margin-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  transition: padding-left 0.6s, padding-right 0.6s, border-radius 0.6s;
}

.main-menu-button:hover{
  box-shadow: 0px 7px 7px rgba(0, 88,0,1);
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.main-menu-button:active{
  margin-top: 6px;
  margin-left: 6px;
  box-shadow: none;
}
