  p {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  body{
    background-color: rgba(255, 169, 169, 0.123);
  }

  .language{
    font-size: 15px;
    border: none;
    background-color: rgba(255, 169, 169);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    margin-left: 50px;
    cursor: pointer; 
  }

  .main-title{
    display: block;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    font-size: 55px;
    text-shadow: 5px 5px 5px rgb(255, 245, 45); 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 50px;
    transition: color 0.6s,letter-spacing 0.6s,
    padding-top 0.6s,padding-bottom 0.6s;
  }

  .main-title:hover{
    color: blue;
    letter-spacing: 7px;
  }

  .div-element{
    display: block;
    text-align: center;
  }

  .pages{
    font-family: "Courier New",monospace;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    width: 700px;
    border: none;
    background-color: rgb(134, 134, 254);
    margin-bottom: 30px;
    margin-right: 8px;
    margin-left: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition:  border-radius 0.6s, backgorund-color 0.6s,font-size 0.6s, background-color 0.2s,color 0.2s;

  }

  .pages:hover{
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgb(64, 0, 255);
  }

  .pages:active{
    color: white;
    background-color: black;
  }

  .pages-link{
    color: rgb(255, 255, 255);

  }

  .page-titles{
    font-family: Tahoma;
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: black;
    text-shadow: 5px 5px 5px rgb(25, 0, 255);
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: color 0.5s, text-color 0.5s,letter-spacing 0.5s;
  }

  .page-titles:hover{
    letter-spacing: 6px;
    color: rgb(25, 0, 255);
    text-shadow: 5px 5px 5px black;
  }

  .background{
    border:none;
    border-radius: 10px;
    padding-top: 35px;
    padding-bottom: 5px;
    margin-bottom: 50px;
    transition: box-shadow 0.6s;
  }

  .background:hover{
    box-shadow: 0px 0px 40px rgb(208, 255, 0);
  }

  .websites {
    vertical-align: middle;;
    font-size: 40px;
    font-family: Arial;
    display: inline-block;
    margin-bottom: 65px;
    margin-top: 15px;
  }

  .websites-image {
    width: 20px;
  }

  .go-to-website {
    font-family: "Lucida Console";
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-width: 4px;
    border: none;
    width: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    box-shadow: 0px 0px 50px rgb(255, 166, 0,1);
    transition: background-color 0.5s,box-shadow 0.3s,font-size 0.5s,box-shadow 0.2s;
  }

  .go-to-website:hover{
    font-size: 18px;
    border: none;
    background-color: rgb(119, 255, 176);
    color: rgb(0, 0, 0);
    box-shadow: 0px 10px 10px rgba(0,0,0,1);
  }

  .go-to-website:active{
    box-shadow: 0px 10px 10px rgba(119, 255, 176,0.1);
  }

  .lines{
    display: block;
    text-align: center;
  }

  .bottom-menu{
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.6s;
    
  }

  .update{
    font-family: Tahoma;
    font-size: 15px;
    font-weight: bolder;
  }

  .time{
    font-family: Arial;
    font-weight: bold;
    color: rgb(17, 0, 248);
  }

  .main-menu{
    display: block;
    text-align: center;
  }

.main-menu-button{
  font-family: "Lucida Console";
  font-size: 16px;
  background-color: rgb(0, 255, 0);
  border: none;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  transition: font-size 0.6s, padding-left 0.6s, padding-right 0.6s, border-radius 0.6s;
}

.main-menu-button:hover{
  font-size: 19px;
  box-shadow: 0px 7px 7px rgba(0, 88,0,1);
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.main-menu-button:active{
  margin-top: 6px;
  margin-left: 6px;
  box-shadow: none;
}
